<!doctype html>
<html lang="en"  ng-app="stundenplan">
	<head>
		<meta charset="utf-8">
		<title>Stundenplaner der Hochschule München</title>

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.0.custom.min.css">
		<link rel="stylesheet" href="lib/angular-ui/angular-ui.min.css">
		<link rel="stylesheet" href="css/app.css">

		<script src="lib/jquery/jquery-1.8.2.min.js"></script>
		<script src="lib/jquery/jquery-ui-1.9.0.custom.min.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-ui/angular-ui.min.js"></script>
		<script src="js/bootstrap-modal.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/services.js"></script>
		<script src="lib/angular/angular-resource.js"></script>

	</head>
	<body ng-controller="DataController">
		<div class="sidebar" ng-include="'partials/sidebar.html'"></div>
		<div class="toolbar" ng-include="'partials/toolbar.html'"></div>

		<div class="content">
			<div ng-include="'partials/table.html'"></div>
			
			<div ui-modal class="save-dialog ui-dialog" ng-model="modalShown">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
					<span class="ui-dialog-title" id="ui-id-8">Geänderte Datensätze</span>
					<a role="button" ng-click="modalShown=false" class="ui-dialog-titlebar-close ui-corner-all" href="#">
						<span class="ui-icon ui-icon-closethick">close</span>
					</a>
				</div>
				<div class="ui-dialog-content ui-widget-content list">
					<b>Dozenten</b>
					<table class="changetable">
						<tr ng-repeat="professor in changed['professors']" ng-hide="!professor.backup">
							<td><a ng-click="undo(professor)" class="ui-icon ui-icon-arrowreturnthick-1-w"></a></td>
							<td>{{professor.name}} {{professor.vorname}}</td>
						</tr>
					</table>
					<b>Gruppen</b>
					<table class="changetable">
						<tr ng-repeat="group in changed['groups']" ng-hide="!group.backup">
							<td><a ng-click="undo(group)" class="ui-icon ui-icon-arrowreturnthick-1-w"></a></td>
							<td>{{group.program}}{{group.semester}} {{group.groupCode}}</td>
						</tr>
					</table>
					<b>Räume</b>
					<table class="changetable">
						<tr ng-repeat="room in changed['rooms']" ng-hide="!room.backup">
							<td><a ng-click="undo(room)" class="ui-icon ui-icon-arrowreturnthick-1-w"></a></td>
							<td>{{room.name}}</td>
						</tr>
					</table>
				</div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<div class="ui-dialog-buttonset">
						<button ng-click="save()" aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button">
							<span class="ui-button-text">Speichern</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
