<!doctype html>
<html lang="en"  ng-app="stundenplan">
<head>
  <meta charset="utf-8">
  <title>Stundenplaner der Hochschule München</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.0.custom.min.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/jquery/jquery-1.8.2.min.js"></script>
  <script src="lib/jquery/jquery-ui-1.9.0.custom.min.js"></script>
  <script>
    $(function() {
        $( "#radio" ).buttonset()
    });
    
    $(document).ready(function(){
    });

	function show_professor(id)
	{
		//alert($('.groups').scope());
		alert(id);
	}
  </script>
</head>
<body>
	<div id="radio">
		<input type="radio" id="radio1" value=0 name="radio" ng-model="active" /><label for="radio1">professors</label>
		<input type="radio" id="radio2" value=1 name="radio" ng-model="active" /><label for="radio2">rooms</label>
		<input type="radio" id="radio3" value=2 name="radio" ng-model="active" /><label for="radio3">groups</label>
	</div>
	
	<div ng-view></div>
</body>
</html>
