.ui-tooltip {
	margin-left: 50px;
}

.ui-widget-content a {
    color: #0055CC;
}

.tttable {
		border-collapse: separate;
		border-spacing: 1px;
		background-color: #fff;
}

.ttmark0 {
	background-color: #ff4444;
	width: 10px;
	height: 6px;
}

.ttmark1 {
	background-color: #7ABA7B;
	width: 10px;
	height: 6px;
}

	.alternativeColors .sidebar .list ul li div {
		background-color: #888;
	}
	
	.alternativeColors .sidebar .list ul li div.clear {
		background-color: #fff;
	}
	
	.alternativeColors .sidebar .list ul li div.set {
		background-color: #000;
	}

	.alternativeColors .sidebar .list a {
		color: #000000;
	}
	
	.alternativeColors .sidebar .list .selected a {
		color: #FFFFFF;
	}
	
	.alternativeColors .sidebar .list .selected {
		background-color: #000000;
		color: #FFFFFF;
	}


.sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 250px;
	border-right: #AAAAAA solid 1px;
	background-color: #EEEEEE;
}

	.sidebar .typeselection {
		margin: 10px 7px 2px 7px;
	}

	.sidebar .filterbox {
		margin-left: 7px;
	}

	.sidebar .filterbox input {
    	width: 225px;
	}

	.sidebar .list {
		background-color: #FFFFFF;
		width: 250px;
		position: fixed;
		bottom: 0px;
		top: 185px;
		left: 0;
		overflow-y: auto;
		border-top: #AAAAAA dotted 1px;
	}

	.sidebar .list ul {
		margin: 0;
	}

	.sidebar .list ul li {
		padding-left: 5px;
	}
	
	.sidebar .list ul li .clearindicator {
		width: 15px;
		height: 15px;
		display: inline-block;
		margin: 0px 5px -3px 0;
		border: dotted #000000 1px;
	}
	
	.sidebar .list ul li .clear {
		background-color: #7ABA7B;
	}
	
	.sidebar .list ul li .set {
		background-color: #ff4444;
	}

	.sidebar .list .selected {
		background-color: #DDD;
		color: black;
	}

	.sidebar input {
		display: block;
	}

.toolbar {
	position:fixed;
	left: 251px;
	height: 100px;
	top: 0px;
	right: 0px;
}

	.toolbar .buttonset .global {
		height: 33px;
		padding: 5px;
		border-bottom: #AAAAAA solid 1px;
		background-color: #EEEEEE;
	}
	
	.toolbar .buttonset .element {
		height: 33px;
		padding: 5px;
		border-bottom: #AAAAAA dotted 1px;
		background-color: #FFFFFF;
	}

.content {
	position:absolute;
	top: 88px;	
	left: 251px;
	right: 0;
	bottom: 0;
    background-color: #fafafa;
}

	.content h1 {
		margin-bottom: 20px;
		font-size: 18px;
	}


	.mark0{
		background-color: #ff4444;
	}
	
	.mark1{
		background-color: #7ABA7B;
	}


	.alternativeColors .mark0{
		background-color: #000;
	}
	
	.alternativeColors .mark1{
		background-color: #fff;
	}
	 
	.alternativeColors .content .timetable {
		border-collapse: separate;
		border-spacing: 1px;
		background-color: #555;
	}
	
	.alternativeColors .content .timetable a {
		color: #fff;
	}
	
	.content .alternativeColors a {
		color: #fff;
	}
    
	.cell {
		width: 100px;
		height: 50px;
		text-align: center;
		vertical-align: middle;
	}
	
	.content .mode0.rect {
		background-color: #ff0000;
	}

	
	.content .mode1.rect {
		background-color: #00ff00;
	}
	
	.content .mode0.rect {
		background-color: #ff0000;
	}

	.mark0 .lockindicator {
		margin-left: 42px;
	    width: 16px;
	    height: 16px;
	    background-image: url("../img/quick_lock.png");
	    display: block;
	    text-indent: -99999px;
	    overflow: hidden;
	    background-repeat: no-repeat;
	}

.save-dialog {
	width: 500px;
	height: 500px;
}

	.save-dialog .list {
		overflow-y: auto;
		height: 390px;
	}

.invisible {
	display: none;
}


.list a {
	display: block;
}

.list li:hover {
	background-color: #DDD;
}

.list li:hover {
	background-color: #DDD;
}

body {
	padding-top: 20px;
}

.timetable {
	border-collapse: separate;
	border-spacing: 1px;
}

.professors {
	list-style: none;
}
.rooms {
	list-style: none;
}
.groups {
	list-style: none;
}
